[Unit]
Description=Mount ephemeral disk
After=clown-init-ephemeral.service
Requires=clown-init-ephemeral.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/clown-mount-ephemeral
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
